body {
    color: white;
    padding: 10px;
    background-color: black;
    -twl-background-color: transparent;
    font-family: ubuntu;
}

#logo {
    text-align: center;
    display: block;
}

a {
 /* font-family: link; */
    color: lightblue;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

p {
    margin-bottom: 1em;
}

h1 {
    background-color: #eee;
    padding: 5px;
    font: bold 30px "DejaVu Sans", ubuntu, sans-serif;
    color: black;
    margin-top: 1em;
    margin-bottom: 0.5em;
/*    -twl-hover: inherit; */
}
h1:hover {
    background-color: blue;
    color: yellow;
}

h1#top {
    margin-top: 0;
}

ol {
    list-style-type: upper-roman
}

ul {
    margin-bottom: 1em;
}

ul > li {
    padding-left: 5px
}

a.mainui-area {
    display: block;
    background-image: url(mainui.area);
    background-color: #888;
    border: solid black;
    text-align: center;
    vertical-align: middle;
    font-family: default;
    color: skyblue;
}
