#logo {
    text-align: center;
    display: block;
}

#sysinfo {
    background-image: url(sysinfo-bg);
    padding: 5px;
    margin-top: 10px;
    font: sysinfo;
}

#sysinfo .parameter {
    width: 10em;
}

#sysinfo a {
    font: sysinfo-link;
}

p {
    margin-bottom: 1em;
}
